$color-white: #fff;
$color-black: #000;
$color-text: #334433;
$color-text-lt: #eeffee;
$color-bg: #EDE7E3;
$color-bk-dk: #D1CCDC;
$color-primary: #048BA8;
$color-primary-dk: #2E4057;
$color-secondary: #F18F01;
$color-secondary-hover: #F8AF22;
$color-secondary-active: #E17F00;

$color-page-bg: $color-bg;
$color-button-bg: $color-secondary;
$color-button-bg-hover: $color-secondary-hover;
$color-button-bg-active: $color-secondary-active;
$color-button-color: $color-text-lt;
