@import './colors';
@import './components/settings-panel';

main {
  // import component styles
  @extend %Settings-Panel;


  .colors {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    > * {
      flex: 0 1 20%;
      padding: 1rem;
    }
    .primary {
      color: $color-text-lt;
      background-color: $color-primary;
    }
    .primary-dk {
      color: $color-text-lt;
      background-color: $color-primary-dk;
    }
    .secondary {
      color: $color-text-lt;
      background-color: $color-secondary;
    }
    .bg-dk {
      background-color: $color-bg-dk;
    }
  }

  #Sorting-Steps {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    > div {
      flex: 1 1 auto;
      &:last-child {
        flex: 0 0 500px;
        margin-left: 2rem;
      }
    }
  }
}