@import '../colors';

%Settings-Panel {
  #Settings-Panel {
    padding: 1rem 2rem;
    color: $color-text-lt;
    background: $color-primary-dk;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px 2px #000;

    > h2 {
      margin-top: 0.5rem;
    }
  }
}