<template data-template-id="Folders-Section">
  <p>Select the source folder that will be scanned for the types of media files you specify.</p>
  <button id="Select-Source-Folder-Btn" class="cta-primary">Select Source Folder</button>
  <label id="Select-Source-Folder-Label">No folder selected</label>
  
  <p>Select the destination folder that files will be sorted into.</p>
  <button id="Select-Destination-Folder-Btn" class="cta-secondary">Select Destination Folder</button>
  <label id="Select-Destination-Folder-Label">No folder selected</label>
</template>